@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

#branco {
    padding: 5px;
    margin: auto;
    background-color: white;
    max-width: 1000px;
    height: 1200px;
}

header {
    text-align: center;
    margin-top: 20px;
}

header > h1 {
    margin-top: 10px;
}

#lista {
    list-style-type: none;
    text-align: center;
}

header > a {
    text-decoration: none;
    font-size: 30px;
}
.produtos {
    margin: auto;
    text-align: center;
    width: 300px;
    height: 120px;
    background-color: red;
    color: white;
    padding: 3px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.425);
}

main > div > h1 {
    text-align: center;
}

main > div > a {
    text-decoration: none;
    color: white;
}

main > div {
    border: 2px solid black;
}

header > a {
    color: black;
    text-decoration: none;
}

.esclarecimento {
    text-align: justify;
    margin: auto;
    color: white;
    background-color: red;
    width: 700px;
    height: 400px;
    padding: 7px;
    font-weight: bold;
}

  
  
  
  
  
  